
*.6pre1

*.o

*.dylib

test1/debug/moc/moc_mainwindow.cpp

test1/debug/moc/moc_test1_data.cpp

test1/debug/moc/moc_test1_property.cpp

test1/debug/moc/moc_test1_ui.cpp

*.user

test1/Makefile

*.plist

test1/debug/Test1.app/Contents/MacOS/Test1

test1/debug/Test1.app/Contents/PkgInfo

test1/debug/Test1.app/Contents/Resources/empty.lproj

DataUiHandler/debug/moc/moc_datauihandlerdelegate.cpp

DataUiHandler/debug/moc/moc_datauihandlerproperty.cpp

DataUiHandler/debug/moc/moc_datauihandlerui.cpp

DataUiHandler/Makefile

._readme.txt

ErrorMessage/Makefile

ErrorMessage/Makefile

ErrorMessage/Makefile

test2/debug/moc/moc_mainwindow.cpp

test2/debug/moc/moc_test2_data1.cpp

test2/debug/moc/moc_test2_data2.cpp

test2/debug/moc/moc_test2_property1.cpp

test2/debug/moc/moc_test2_property2.cpp

test2/debug/Test1.app/Contents/MacOS/Test1

test2/Makefile

*.cpp

test2/debug/moc/moc_test2_ui1.cpp

test2/debug/moc/moc_test2_ui2.cpp

test3/test3.pro

test3/debug/Test3.app/Contents/Resources/empty.lproj

test3/debug/Test3.app/Contents/PkgInfo

test3/debug/Test3.app/Contents/MacOS/Test3

test3/Makefile

doc/._HOWTO.txt

doc/._test_example.txt
